* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.3s ease-in-out 0.1s;
}

:root {
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter", "Helvetica", "Helverica Neue", "Arial", sans-serif;
  font-size: 62.5%;
}
